@model PracticaCertifac.Models.Addenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Addenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAddenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAddenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAddenda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
