@model IEnumerable<PracticaCertifac.Models.Addenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAddenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAddenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAddenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAddenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAddenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
